@font-face {
  font-family: 'Symbola';
  src: url('/permalink/font/symbola/symbola-webfont.eot');
  /* local() needed for custom fonts to appear in our PDF exports */
  src: local("Symbola Regular"),
  url('/permalink/font/symbola/symbola-webfont.eot?#iefix') format('embedded-opentype'),
  url('/permalink/font/symbola/symbola-webfont.woff') format('woff'),
  url('/permalink/font/symbola/symbola-webfont.ttf') format('truetype'),
  url('/permalink/font/symbola/symbola-webfont.svg#SymbolaRegular') format('svg');
}
